*{
    padding: 0;
    margin: 0;
}
#page {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: "nav head"
                         "nav  main"
                         "foot main";
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 150px 1fr;
}
#page > header{
    grid-area: head;
    background-color:#bdbdbd;
    text-align: center;
}
#page > nav{
    grid-area: nav;
    background-color:#1565c0;
}
#page > main{
    grid-area: main;
    background-color: #ffffff;
}
#page > footer{
    grid-area: foot;
    background-color: #002171;
    height: 7vh;
}
input{
    width: 95%;
}
h3{
    text-align: center;
    font-weight: 100;
}
.products-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}
div img{
    height: 400px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.buy{
    text-align: center;
}
.buy button{
    background-color: #1565c0;
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
}
.product{
    border: 1px solid gray;
    box-shadow: 0px 0px 10px 0px;
}
.categorias{
    padding-top: 15px;
    margin: 5px;
    font-weight: 300;
    color: #ffffff
}
.categorias h3{
    margin-top: 15px;
}
.icon-mobile{
    display: none;
}
.Logo{
    display: flex;
    padding: 15px;
    font-weight: 100;
    color: #ffffff;
}
.Logo h4{
    padding-left: 1px;
    font-weight: 100;
    color: #ffffff;
}
.derecho{
    text-align: center;
    color: #ffffff;
    font-weight: 100;
}
.icons{
    text-align: center;
    color: #ffffff;
    font-weight: 100;
}
.busqueda-telefono{
    display: none;
}
@media (max-width: 576px){
    #page{
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-areas: "nav nav"
                             "head head"
                             "main main"
                             "foot foot";
        grid-template-rows: 50px 95px 1fr 35px;
        grid-template-columns: 150px 1fr;
    }
    #page > header{
        grid-area: head;
        background-color: #bdbdbd;
    }
    #page > nav{
        grid-area: nav;
        background-color: #1565c0;
        display: flex;
        justify-content: space-between;
    }
    #page > main{
        grid-area: main;
        background-color: #ffffff;
    }
    #page > footer{
        grid-area: foot;
        background-color: #002171;
    }
    .products-box{
        grid-template-columns: 1fr;
    }
    .categorias{
        display: none;
    }
    .icon-mobile{
        display: flex;
        padding: 15px;
        font-size: 22px;
        color: #ffffff;
    }
    .Logo{
        display: flex;
        padding: 15px;
        font-size: 20px;
        color: #ffffff;
    }
    .busqueda-telefono{
        display: flex;
        justify-content: center;
        border: solid 1px #1565c0;
    }
}